body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: purple;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.box{
background-color: white;
padding: 2rem;
border-radius: 10px;
box-shadow: 3px 3px 5px rgba(0, 0,0, 0.2);
width: 600px;
max-width: 100%;
text-align: center;
}
.box p{
  margin: 2em;
}
.box button{
  background-color: purple;
  color: white;
  border-radius: 3px;
  height: 30px;

}
.box select{
  height: 30px;
}
.box h5{
  color: purple;
}
